@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

@media (max-width:376px){
    main {
        padding-left: 5%;
        padding-right: 5%;
        
    }
    .container1 {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    
    .container3 {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    div {
        width: 90%;
        
    }
    
}
@media (min-width:376px){
    main {
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
    }
    .container1 {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
       
    .container3 {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    div {
        width: 80%;
    }
}

body{
    background-color: hsl(0, 0%, 95%);
}
main {
    padding-bottom: 10%;
    padding-top: 10%;
}
div {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: left;
    font-size: 15px;
}
.container1 {
    background-color: hsl(31, 77%, 52%);
}
.container2 {
    background-color: hsl(184, 100%, 22%);
}
.container3 {
    background-color: hsl(179, 100%, 13%);
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
}

h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}
.title{
    padding-bottom: 0;
}
.txt{
    padding-top: 0;
}
.btn{
    padding-top: 50px;
    padding-bottom: 50px;
    
}
@media (min-width:376px){
    .btn:hover{
        padding-bottom: 0px;
    }
}

button {
    background-color: hsl(0, 0%, 95%);
    border: 1px;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    
}

#btn1 {
    color: hsl(31, 77%, 52%);
}
#btn1:hover{
    color: white;
    border: 2px solid white;
    background-color: hsl(31, 77%, 52%);
}
#btn2 {
    color: hsl(184, 100%, 22%);
} 
#btn2:hover{
    color: white;
    border: 2px solid white;
    background-color: hsl(184, 100%, 22%);
}
#btn3 {
    color: hsl(179, 100%, 13%);
}
#btn3:hover{
    color: white;
    border: 2px solid white;
    background-color:  hsl(179, 100%, 13%);
}
